/* Body */
*, *::before, *::after {
    transition: .2s;
}

body{
    margin: 0;
    background-color: #eeeeee;
    font-family: 'Work Sans', sans-serif;
}
/* Header  */
.header{
    width: 100%;
    height: 30vh;
    /* background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/bg.jpg'); */
    /* background-repeat: no-repeat; */
    background: #F5B841;
    position: relative;
}

.title {
    color: #01161E;
    position: absolute;
    right: 45vw;
    margin-top: 50px;
    font-size: 3rem;
}

.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right: 5vw;
    bottom: 10px;
}
.clear i{
    font-size: 30px;
    color: #01161E;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #01161E;
    transform: rotate(45deg);
}

#date{
    position: absolute;
    bottom: 10px;
    left: 5vw;
    color: #01161E;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}
@media screen and (max-width: 375px) {
    .title {
        font-size: 30px;
    }
    #date {
        font-size: 20px;
    }
    .clear i{
        font-size: 20px;
    }
}
/* contenido  */
.contenido{
    width:100%;
    height: 60vh;
    /* background-color: rgba(0,0,0,0.1); */
    overflow: auto;
}
.contenido::-webkit-scrollbar { 
    display: none; 
}
.contenido ul{
    padding:0;
    margin:0;
}
.item{

    position: relative;
    height: 7vh;
    width: 90vw;
    background-color: #F5B841;
    padding: 3px;
    
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;

    min-height: 45px;
    list-style: none;
    padding: 0;

    border-bottom: 3px solid rgba(0,0,0,0.1);
    border-left: 2px solid rgba(0,0,0,0.1);
    /* margin: 0; */
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#01161E;
}

.item p.text{
    position: absolute;
    padding:0;
    margin: 5px;
    font-size: 20px;
    left:50px;
    top:5px;
    max-width: 50%;
}

.lineThrough{
    text-decoration: line-through;
    color : #01161E;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#eeeeee;
    cursor: pointer;
}

/* Add Item  */
.add-item{
    position: relative;
    height: 6.7vh;
    width: 90vw;
    background-color: #F5B841;
    padding: 3px;
    /* border-top: 1px solid rgba(0,0,0,0.1); */
    margin: auto;
    border-radius: 5px;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    border-left: 2px solid rgba(0,0,0,0.1);
}
.add-item i{
    position: absolute;
    margin: 7px 0 0 7px;
    font-size: 30px;
    color: #eee;
}

.add-item input{
    position: absolute;
    top: 7px;
    left: 50px;
    height: 5vh;
    background-color: transparent;
    border: solid 1px rgba(0,0,0,0);
    font-size: 20px;
    padding-left:10px;
    width: 87%;
}
.add-item input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #01161E;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.add-item input::-moz-placeholder { /* Firefox 19 */
    color: #01161E;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.add-item input:-ms-input-placeholder { /* IE 10 */
    color: #01161E;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.add-item input:-moz-placeholder { /* Firefox 18 */
    color: #01161E;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}




























